body {
    background-color: #eee;
}


/* estilos de la caja padre */

.contenido-contra {
    background-color: #2A3132;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 15px;
    padding-bottom: 30px;
}

.titulo {
    font-family: 'Martel', serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: initial;
    color: white;
}


/* sección que engloba el ícono y el texto  */

.candado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.candado p {
    line-height: 1.5;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1rem;
}

.candado .icono {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* formulario */

.formulario fieldset {
    border: none;
}

.input-text {
    font-family: 'Lora', serif;
    width: 100%;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
}


/* tu botoncito */

.botoncito {
    font-family: 'Lora', serif;
    margin-top: 15px;
    background-color: #ffffff;
    color: gray;
    width: calc(100% + 15px);
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
}

.botoncito:hover {
    cursor: pointer;
    color: white;
    background-color: #90AFC5;
}


/* links */

.navegacion {
    display: flex;
    flex-direction: row;
}

.navegacion a {
    font-family: 'Lora', serif;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: .5rem;
    margin: 0 auto;
    margin-top: 10px;
}