/* Estilo para movil */
@media screen and /* (min-width:200px) and  */(max-width:700px){
 
/* Estilo de h1 */
.h1{
    color: #ffffff;
  
font-family: 'Poppins', sans-serif;
animation-name:titulo;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;

}
/* animacion del h1 */
@keyframes titulo {
    from{
        transform: rotate(2deg);

    }
    to{
        transform: rotate(-2deg);

    }
}
/* Contenedor del login */
.seccion__login{
  
    background: #2A3132;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
/* contenido del login */
.seccion-login__div{
    text-align: center;
}
/*  Contenedor de input de correo y contraseña */
.contenedor{
    font-family: 'Lora', serif;
    text-align: center;
    margin: 5px;
    border: 1px solid #90AFC5;
    background: #366B87;
    border-radius: 2px;
    width: 70%;
    height: 25px;
    padding: 3px;
    font-size: 15px;
   
}
/* Animaciones al darle click dentro del input */
input[type=email],input[type=password]{
    border: none;
    border-bottom: 2px solid #90AFC5;
  }
  input[type=email]:focus,input[type=password]:focus {
    background-color: lightblue;
  }
  input::placeholder{
    color: #f8f8f886;
}
  /* Estilo del captcha */
.captcha{
display: inline-block;
justify-content: center;
margin: 5px;
}
/* Boton de ingresar */
.boton{
    width: 100px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #90AFC5;
    background: #366B87;
    color: #ffffff;
    border-radius: 2px;
}
/* Cambio del color cuando pasa el mouse */
.boton:hover{
    background-color: lightblue;
    cursor: pointer;
}
/* ESTILOS DEL TEXTO DEBAJO DEL BOTON DE INGRESAR */
.parrafo{
    display: inline-block;
    font-size: 10px;
    margin: 3px;
}
.parrafo:hover{
    font-size: 12px;
    margin: 4px;
   
}
/* COLOR DE LETRA DEL HIPERVICULO */
p a{
    
    color: #ffffff;
}
a:hover{
    color: rgb(157, 20, 220);
}

}

/* MEDIDAS PARA PC */
@media screen and (min-width:701px){
  /* CENTRADDO DEL CONTENIDO DEL BODY */
    body{
        background: rgb(246, 242, 242);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* COLOR DE LOS H1 */
    .h1{
        color: #ffffff;
        font-size: 50px;
      
    font-family: 'Poppins', sans-serif;
    animation-name:titulo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    margin: 15px;
    
    }
/* animacion del h1 */
    @keyframes titulo {
        from{
            transform: rotate(2deg);
    
        }
        to{
            transform: rotate(-2deg);
    
        }
    }
    /* seccion del login */
    .seccion__login{
        font-family: 'Lora', serif;
        max-width: 500px;
        background: #2A3132;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        
    }
    /* contenedor del contenido */
    .seccion-login__div{
        text-align: center;
    }
    /* estilos del input de correo y contraseña */
    .contenedor{
        font-family: 'Lora', serif;
        text-align: center;
        margin: 5px;
        border: 1px solid #90AFC5;
        background: #366B87;
        border-radius: 2px;
        width: 70%;
        height: 30px;
        color: #ffffff;
        padding: 5px;
        font-size: 15px;

       
    }
    /* animaciones al darle clicka los input */
    input[type=email],input[type=password]{
        border: none;
        border-bottom: 2px solid #90AFC5;
    
      }
      input[type=email]:focus,input[type=password]:focus {
        background-color: rgb(110, 177, 199);
        width: 71%;
        height: 35px;
      }
      input::placeholder{
        color: #ffffffda;
    }
    /* estilos del captcha */
    .captcha{
    display: inline-block;
    justify-content: center;
    margin: 5px;
    }
    /* estilos del boton de ingresar */
    .boton{
        width: 100px;
        height: 30px;
        font-size: 20px;
        border: 1px solid #90AFC5;
        background: #366B87;
        color: #ffffff;
        border-radius: 2px;
        font-family: 'Lora', serif;
    }
    .boton:hover{
        background-color: rgb(110, 177, 199);
        cursor: pointer;
    }
    /* estilos del texto debajo del boton */
    .parrafo{
        display: inline-block;
        font-size: 15px;
        margin: 5px;
    }
    .parrafo:hover{
        font-size: 16px;
        margin: 6px;
       
    }
    p a{
        
        color: #ffffff;
    }
    a:hover{
        color: rgb(157, 20, 220);
    }

}